<IfModule mod_rewrite.c>
RewriteEngine On

# Force HTTPS + non-www for shopeconcrete.com
RewriteCond %{HTTP_HOST} ^www\.shopeconcrete\.com$ [NC,OR]
RewriteCond %{HTTPS} off
RewriteRule ^ https://shopeconcrete.com%{REQUEST_URI} [L,R=301]
</IfModule>

<IfModule mod_headers.c>
Header always set Content-Security-Policy "upgrade-insecure-requests;"
</IfModule>
